#mappings for FemtoRV
set_io pclk J3

set_io D1 M12   #//LED1
set_io D2 E4    #//GPIO1.5
set_io D3 B2    #//GPIO1.7
set_io D4 F5    #//GPIO1.9
set_io D5 R16   #//LED2

#The following note is probably wrong I assume it was being used at
#too high a baudrate but I don't have the physical hardware to confirm

# UART communication doesn't work when Olimexino 32U4 is used as a bridge
# which forwards the communication to a PC
# (https://www.olimex.com/wiki/ICE40HX1K-EVB#Get_started_under_Linux).
# There might be a bug in Olimexino's firmware, as UART works with a UART-USB
# converter.
set_io TXD T16
set_io RXD L11

set_io spi_cs_n R12
set_io spi_miso P11
set_io spi_mosi P12
set_io spi_clk  R11

set_io RESET    P13 #//BUT2 allocate button near xtal as reset
#set_io BUT1	K11 #//not assigned in FemtoRV yet
set_io buttons[0] K11 #//BUT1 is to be USER button on fpga pcb
set_io buttons[1] F3  #//this is temporary to get synthesis to work
#set_io BUT2	P13 #//have allocated to RESET

#set_io LED1	M12
#set_io LED2	R16



# GPIO1 ct256
# 1	+5V
# 2	GND
# 3	+3.3V
# 4	GND
# 5	E4
# 6     EXTCLK : J3 # ? or sysclk
# 7	B2
# 8	GND
# 9	F5
# 10	J2
# 11	B1
# 12	H1
# 13	C1
# 14	G1
# 15	C2
# 16	J5
# 17	F4
# 18	H2
# 19	D2
# 20	J4
# 21	G5
# 22	G2
# 23	D1
# 24	H4
# 25	G4
# 26	F1
# 27	E3
# 28	H6
# 29	H5        
# 30	F2
# 31	E2        
# 32	H3
# 33	G3        
# 34	F3
 
# map of currently assigned pads
# D1 -> LED1
# D5 -> LED2

# RESET -> BUT2

# TXD T16 -> UEXT TX
# RXD L11 -> UEXT RX
#
# BUT1 AND BUT2 mapped, BUT1 is onboard FPGA pcb

#//recommended waveshare oled loom colours follow
                       #// RED 3V3 DIO.GPIO_out1.3	
                       #// BLK GND DIO.GPIO_out1.4
set_io oled_DIN B1     #// BLU     DIO.GPIO_out1.11
set_io oled_CLK C1     #// YEL     DIO.GPIO_out1.13
set_io oled_CS  C2     #// ORG     DIO.GPIO_out1.15
set_io oled_DC  F4     #// GRN     DIO.GPIO_out1.17
set_io oled_RST D2     #// WHT     DIO.GPIO_out1.19


#//recommended led matrix
                       #// ??? 3V3 DIO.EXT?	
                       #// ??? GND DIO.EXT?
set_io ledmtx_DIN G5   #// ???     DIO.GPIO_out1.21
set_io ledmtx_CS  D1   #// ???     DIO.GPIO_out1.23
set_io ledmtx_CLK G4   #// ???     DIO.GPIO_out1.25


##compact-gpio bitbang on UEXT
##next three sucessfully used for bitbang spi bb_max7219
##pin you have to be careful about pin mapping work from 0 up to n-1 for the number of pins up to 8 allocated
##minimum is 2 pins
#currenly will clash with icezero pmod order allocated in software if UEXT order is adpopted and we can't
#accomodate physical pin numbering of UEXT anyway
#pinout assignment for UEXT I2C+SPI I/O
set_io gpio_pin_val[4]   H2      # bitbang for SDA
set_io gpio_pin_val[5]   J4      # bitbang for SCL
set_io gpio_pin_val[2]   G2      # bitbang ledmtx_DIN  MOSI  
set_io gpio_pin_val[3]   H4      # bitbang MISO 
set_io gpio_pin_val[0]   F1      # bitbang ledmtx_CLK  SCLK  
set_io gpio_pin_val[1]   H6      # bitbang ledmtx_CS   SS    


##i2c plus bitbang led matrix 1283/1280 luts when oled is selected
##maybe optimise buttons and leds to free up space
#set_io gpio_pin_val[3]   H2      # bitbang for SDA
#set_io gpio_pin_val[4]   J4      # bitbang for SCL
#set_io gpio_pin_val[2]   G2      # bitbang ledmtx_DIN  MOSI  
##//NO bitbang MISO set_io gpio_pin_val[3]   H4      # bitbang MISO 
#set_io gpio_pin_val[0]   F1      # bitbang ledmtx_CLK  SCLK  
#set_io gpio_pin_val[1]   H6      # bitbang ledmtx_CS   SS    

#bitbang SPI I/O
#set_io gpio_pin_val[2]   G2      # bitbang ledmtx_DIN  MOSI  
#set_io gpio_pin_val[3]   H4      # bitbang MISO 
#set_io gpio_pin_val[0]   F1      # bitbang ledmtx_CLK  SCLK  
#set_io gpio_pin_val[1]   H6      # bitbang ledmtx_CS   SS    

#bitbang SPI OUT
#set_io gpio_pin_val[2]   G2      # bitbang ledmtx_DIN  MOSI  
#set_io gpio_pin_val[0]   F1      # bitbang ledmtx_CLK  SCLK  
#set_io gpio_pin_val[1]   H6      # bitbang ledmtx_CS   SS    




##offset would depend on which groups of interfaces are being bitbanged
##  SUGGESTION
##   LUTS with oled                1283
##   UEXT    SPI     I2C    I2C    I2C    LCD    SPI
##   PIN     I/O            +      +             OUT 
##   1  2                   SPI    SPI
##   3  4                   I/O    OUT
##   5  6            0  1   4  5   3  4   3  4     
##   7  8     2  3          2  3   2      2       2
##   9  10    0  1          0  1   0  1   0  1    0  1 
##
## but are the savings in latches worth the complication




# GPIO1 PAD	PAD	GPIO1		 	. = free
#  1	5V	GND	 # 2 		       5V	0V
#  3	3V3	GND	 # 4		      3V3	0V
#  5	E4	J3	 # 6 EXTCLK            D2	pclk
#  7	B2	GND	 # 8		       D3	0V
#  9	F5	J2	 # 10		       D4	.
# 11	B1	H1	 # 12	         oled_DIN	.		
# 13	C1	G1	 # 14		 oled_CLK	DIO.UEXT.tx?
# 15	C2	J5	 # 16		  oled_CS	DIO.UEXT.rx?
# 17	F4	H2	 # 18		  oled_DC	DIO.UEXT.sda?
# 19	D2	J4	 # 20		 oled_RST	DIO.UEXT.scl?
# 21	G5	G2	 # 22	       ledmtx_DIN	DIO.UEXT.mosi?
# 23	D1	H4	 # 24		ledmtx_CS	DIO.UEXT.miso?
# 25	G4	F1	 # 26	       ledmtx_CLK	DIO.UEXT.sclk?
# 27	E3	H6	 # 28		  	.	DIO.UEXT.#ss?
# 29	H5	F2	 # 30		        .	.
# 31	E2	H3	 # 32		        .	.
# 33	G3	F3	 # 34		        .	buttons[1] //temporary




# map of currently assigned pads and vga/ps2 board
# D1 -> LED1
# D5 -> LED2

# TXD T16 -> UEXT TX
# RXD L11 -> UEXT RX
#
# BUT1 not mapped AND BUT2 is RESET

#future map for pcf of ps2/vga
#button[1] would clash with r2
# GPIO1 PAD	PAD	GPIO1        . = free		
#  1	5V	GND	#  2 		 5V	0V
#  3	3V3	GND	#  4		3V3	0V
#  5	E4	J3	#  6 EXTCLK	  .	pclk
#  7	B2	GND	#  8		  .	0V
#  9	F5	J2	# 10		  .	.
# 11	B1	H1	# 12	          .	.		
# 13	C1	G1	# 14		  .	ps2clk
# 15	C2	J5	# 16		  .	ps2dat
# 17	F4	H2	# 18		  .	vsync
# 19	D2	J4	# 20		  .	hsync
# 21	G5	G2	# 22		  .	b2
# 23	D1	H4	# 24		  .	b1
# 25	G4	F1	# 26		  .	b0
# 27	E3	H6	# 28		 r0	g2
# 29	H5	F2	# 30		 r1	g1
# 31	E2	H3	# 32		  .	g0
# 33	G3	F3	# 34		  .	r2

 
# #######################################
# taken from xv6-riscv-fpga
# SRAM chip 512k byte organized as 256k * 16 bit.
set_io o_sram_a[0] N6
set_io o_sram_a[1] T1
set_io o_sram_a[2] P4
set_io o_sram_a[3] R2
set_io o_sram_a[4] N5
set_io o_sram_a[5] T2
set_io o_sram_a[6] P5
set_io o_sram_a[7] R3
set_io o_sram_a[8] R5
set_io o_sram_a[9] T3
set_io o_sram_a[10] R4
set_io o_sram_a[11] M7
set_io o_sram_a[12] N7
set_io o_sram_a[13] P6
set_io o_sram_a[14] M8
set_io o_sram_a[15] T5
set_io o_sram_a[16] R6
set_io o_sram_a[17] P8

set_io io_sram_d[0] T8
set_io io_sram_d[1] P7
set_io io_sram_d[2] N9
set_io io_sram_d[3] T9
set_io io_sram_d[4] M9
set_io io_sram_d[5] R9
set_io io_sram_d[6] K9
set_io io_sram_d[7] P9
set_io io_sram_d[8] R10
set_io io_sram_d[9] L10
set_io io_sram_d[10] P10
set_io io_sram_d[11] N10
set_io io_sram_d[12] T10
set_io io_sram_d[13] T11
set_io io_sram_d[14] T15
set_io io_sram_d[15] T14

set_io o_sram_csn T6	# SRAM chip enabled not
set_io o_sram_oen L9      # SRAM output enabled not
set_io o_sram_wen T7      # SRAM write enabled not

#option SD CARD connected to JTAG connector
#set_io sd_miso R14      # TDI data in
#set_io sd_mosi P15      # TDO data out
#set_io sd_sck P14       # TCK serial clock
#set_io sd_ss R15        # TMS chip enabled not

